User
.card {
  width: 100%; 
  position: relative;
}

.card-body {
  height: 300px; 
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

.btn {
  height: auto; 
  display: inline-block; 
  vertical-align: middle; 
  position: absolute; 
  bottom: 8px;
}
.carousel-item img {
  max-height: 850px; 
}

.navbar-toggler {
  margin-right: 10px; 
}

.navbar-collapse {
  margin-right: -10px; 
}

.navbar {
  height: 9rem; 
}

.navbar-brand {
  font-size: 60px; 
  margin-right: 320px;
}

.nav-link {
  font-size: 24px; 
}

.favorite-btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-btn .bi {
  font-size: 1.5rem;
}



    